#Ignore all object files
*.o
#Ignore all output and big input files
*.ps
*.txt
*.NDskl
# Output from read:
*.ND
*.dat
# Output from readSkel:
*ASCII
seg*
node*
#Ignore final completed file
*/readSkel
*/read
*/esys
a.out
backread
#Ignore swp files (i.e. files open in mvim)
*.swp
*.gch
