#Ignore all object files
*.o
#Ignore all output files
*.ps
*.ND
*.txt
#Ignore final completed file
read
#Ignore swp files (i.e. files open in mvim)
*.swp
# Ignore very large files for easier data transfer
eg2D.*
