#Ignore all object files
*.o
#Ignore all output files
*.ps
*.ND
*.txt
*ASCI
seg*
node*
#Ignore final completed file
read
readNDskel
a.out
backread
#Ignore swp files (i.e. files open in mvim)
*.swp
*.gch
# Ignore very large files for easier data transfer
eg2D.*
